<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}"></head>
<body>
<div class="container">
    <form class="mt-3" th:action="@{/tasks/create}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="description" class="form-label"><b>Добавьте описание задачи</b></label>
            <input type="text" class="form-control" name="description" id="description"
                   placeholder="Помыть пол, приготовить ужин..." required>
        </div>

        <div class="mb-3">
            <label class="form-label"><b>Укажите приоритет задачи:</b></label>
            <div class="col-3">
                <select class="custom-select" name="priorityName" aria-label="Choose place">
                    <option th:each="priority : ${priorities}"
                            th:value="${priority.name}"
                            th:text="${priority.name}"></option>
                </select>
            </div>
        </div>

        <div class="mb-5">
            <label class="form-label"><b>Выберите категорию задачи:</b></label>
            <th:block th:each="category : ${categories}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" 
                           th:id="${category.id}" 
                           name="categoryIds" 
                           th:value="${category.id}">
                    <label class="form-check-label" th:for="${category.id}">
                        <span th:text="${category.name}"></span>
                    </label>
                </div>
            </th:block>
        </div>

        <div class="mb-3 row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary w-100"
                                type="submit">Сохранить
                        </button>
                    </div>
                    <div class="col-6"><a class="btn btn-danger w-100"
                                          th:href="@{/tasks}">Отмена</a></div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>