<script src="../../static/js/bootstrap.bundle.js"></script>
<div class="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="https://github.com/Olegsander48">Designed by Александр Пригодич</a><br>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <span class="mb-3 mb-md-0 text-muted">© 2025 <a href="https://job4j.ru">Job4j.ru</a>, Inc</span>
        </ul>
    </footer>
</div>